* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  padding: 30px 40px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav .logo {
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 600;
}

nav .menu li a {
  font-size: 14px;
  border-radius: 50px;
  padding: 5px 15px;
}

nav button {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
}